<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.ethz.itet.pps.budgetSplit">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/balance_2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="ch.ethz.itet.pps.budgetSplit.Main"
            android:label="@string/projects">
            <intent-filter android:label="@string/app_name">
            <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="ch.ethz.itet.pps.budgetSplit.contentProvider.budgetSplitContentProvider"
            android:authorities="ch.ethz.itet.pps_2014.budgetSplit"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".ProjectNavigation"
            android:exported="true"
            android:label="@string/title_activity_project_navigation"
            android:parentActivityName=".Main"/>
        <activity
            android:name=".add_new_item"
            android:label="@string/title_activity_add_new_item"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.itet.pps.budgetSplit.ProjectNavigation"/>
        </activity>
        <activity
            android:name=".NewProject"
            android:exported="true"
            android:label="@string/title_activity_new_project"
            android:parentActivityName=".Main"
            android:windowSoftInputMode="adjustPan">
            <action android:name="android.intent.action.NEWPROJECT"/>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.itet.pps.budgetSplit.Main"/>
        </activity>
        <activity
            android:name=".NewContact"
            android:label="@string/title_activity_new_contact"
            android:noHistory="true"
            android:parentActivityName=".NewProject">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.itet.pps.budgetSplit.NewProject"/>

            <action android:name="android.intent.action.NEWCONTACT"/>
        </activity>
        <activity
            android:name=".FirstScreen"
            android:label="@string/title_activity_first_screen"
            android:noHistory="true"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".Transactions"
            android:label="@string/title_activity_transactions"/>
        <activity
            android:name=".Finalize"
            android:label="@string/title_activity_finalize"/>
        <activity
            android:name=".Tags"
            android:label="@string/title_activity_tags"/>
        <activity
            android:name=".currencies"
            android:label="@string/title_activity_currencies"/>
        <activity
            android:name=".activity_tags_gridview_layout"
            android:label="@string/title_activity_activity_tags_gridview_layout"/>
        <activity
            android:name=".ContactsList"
            android:label="@string/title_activity_contacts__list"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.ethz.itet.pps.budgetSplit.Main"/>
        </activity>
        <activity
            android:name=".TagSelection"
            android:label="@string/title_activity_tag_selection"></activity>
    </application>

</manifest>
